<?xml version='1.0' encoding='utf-8'?>

<!--L
  Copyright Washington University in St. Louis, SemanticBits, Persistent Systems, Krishagni.

  Distributed under the OSI-approved BSD 3-Clause License.
  See http://ncip.github.com/wustl-common-package/LICENSE.txt for details.
L-->

<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

	    <property name="show_sql">false</property>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3309/cleandb</property>
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>

    <!--
    	<property name="show_sql">false</property>
		<property name="dialect">org.hibernate.dialect.Oracle9Dialect</property>
        <property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="connection.url">jdbc:oracle:thin:@10.88.199.236:1521:orcl</property>
        <property name="connection.username">kalpana</property>
        <property name="connection.password">kalpana</property>
   -->

    <mapping resource="testhbm/Address.hbm.xml"/>
    <mapping resource="testhbm/Order.hbm.xml"/>
	<mapping resource="testhbm/Person.hbm.xml"/>
	<mapping resource="testhbm/User.hbm.xml"/>
	<mapping resource="testhbm/UserRole.hbm.xml"/>
	<mapping resource="testhbm/AbstractAuditEventLog.hbm.xml"/>
	<mapping resource="testhbm/AuditEventLog.hbm.xml"/>
	<mapping resource="testhbm/AuditEvent.hbm.xml"/>
	<mapping resource="testhbm/AuditEventDetails.hbm.xml"/>
	<mapping resource="testhbm/JobDetails.hbm.xml"/>
    </session-factory>
</hibernate-configuration>